[alias]
	ci = commit -sS
	t = tag -sS
	co = checkout
	l = log --date=short --pretty=format:'%C(bold yellow)%h %C(bold green)%ad %C(reset)%s %C(bold blue)[%an]%C(bold red)%d' --topo-order
	st = status
	br = branch
	cp = cherry-pick
	todo = grep -in TODO
	hack = grep -in HACK

[color]
	ui = auto

[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore_global
	whitespace = space-before-tab,tab-in-indent,trailing-space
	editor = nano

[push]
	default = simple

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[diff]
	compactionHeuristic = true

[diff "color"]
	old = red strike
	new = green italic

[url "git@github.com:"]
	insteadOf = https://github.com/
[fetch]
	prune = true
[pull]
	prune = true
