[user]
	name = Pires
	email = pjpires@gmail.com
[color]
	ui = auto
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore_global
	whitespace = space-before-tab,tab-in-indent,trailing-space
	editor = nvim
	pager = bat
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	compactionHeuristic = true
[diff "color"]
	old = red strike
	new = green italic
[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
[fetch]
	prune = true
[pull]
	prune = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "x509"]
	program = gitsign
[gitsign]
	connectorID = https://github.com/login/oauth
[gpg]
	format = x509
